@import url(../variaveis.css);

.apresentacao {
	align-items: center;
	background: var(--bg-cinza);
	display: flex;
}

.apresentacao__conteudo {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 32px 152px;
}
.apresentacao__conteudo-itens {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.apresentacao__titulo {
	font-size: 52px;
	font-weight: 700;
}

.apresentacao__descricao {
	font-size: 22px;
}

.apresentacao__link {
	align-items: flex-start;
	display: flex;
	gap: 32px;
}

.apresentacao__link-item {
	background: url(../../img/seta.svg) no-repeat right center;
	color: var(--letras);
	padding-right: 1.5rem;
	text-decoration: none;
}

.apresentacao__imagem {
	width: 368px;
	height: 368px;
	border-radius: 50%;
}