@import url(../variaveis.css);

.sobreMim {
	background: var(--bg-azul);
}

.sobreMim__conteudo {
	margin: 0 152px;
	padding: 64px 0;
}

.sobreMim__conteudo-text {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sobreMim__titulo {
	font-size: 2em;
}

.sobreMim__descricao {
	font-size: 1em;
	line-height: 19px;
}

.assinatura {
	width: 140px;
	height: 52px;
}