@import url(../variaveis.css);

.skills {
	background: var(--bg-cinza);
}

.skills__conteudo {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 152px;
	padding: 2rem 0;
}


.skills__titulo {
font-weight: 700;
	font-size: 2em;
}

.skills__card {
	display: flex;
	font-size: 1em;
	list-style: none;
	gap: 1rem;
}

.skills__card-item {
	align-items: flex-end;
	background: var(--branco);
	display: flex;
	padding: 1rem;
	height: 176px;
	width: 176px;
}

.html {
	background-image: url(../../img/html.svg);
}

.css {
	background-image: url(../../img/css.svg);
}

.javascript {
	background-image: url(../../img/js.svg);
}

.react {
	background-image: url(../../img/react.svg);
}

.html,
.css,
.javascript,
.react {
	background-repeat: no-repeat;
	background-position: left;
	background-position-y: 140px;
	background-position-x: 16px;
}