@import url(./variaveis.css);
body, html {
    font-family: var(--raleway);
    margin: 0;
    padding: 0;
    color: var(--letras);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}
