@import url(../variaveis.css);

.contato {
	background: var(--bg-azul);
}

.contato__conteudo {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 64px 0px;
	justify-content: center;
	margin: 0 152px;

}

/* .contato__container {
	gap: 8px;
} */
.contato__imagem {
	width: 464px;
	height: 593px;
}

.contato__conteudo-informacao {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: .5rem;
}

.contato__titulo {
	font-weight: 700;
	font-size: 32px;
}

.contato__conteudo-texto {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 25px;
}

/* 
.contato__conteudo-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}

.email {
	text-transform: lowercase;
}

.contato__input {
	border: none;
	display: flex;
	gap: 8px;
	width: 656px;
	height: 56px;
	align-items: center;
	padding: 8px 12px;
	border-radius: 4px;
	color: var(--placeholder);
	margin-top: 1rem;
}

.contato__textarea {
	width: 656px;
	height: 133px;
	gap: 8px;
	border-radius: 4px;
	padding: 8px 12px;
   border-radius: 4px;
	color: var(--placeholder);
	margin-top: 1rem;
	resize: none;
	border: none;
	font-size: 1em;
}

.contato__input:focus, .contato__textarea:focus {
	outline: none;
	border-right: 3px solid var(--azul);
	border-bottom: 3px solid var(--azul);
}

::placeholder {
	font-size: 1.3em;
	text-transform: none;
} */


.input {
	width: 100%;
	height: 56px;
	font-size: 18px;
	padding-left: .5rem;
	outline: none;
	border-radius: 6px;
	border: none;

}

.formulario__grupo {
	margin-bottom: 1.5rem;
	position: relative;
}

.mensagem {
	width: 100%;
	height: 133px;
	font-size: 18px;
	padding: 8px 12px;
	outline: none;
	resize: none;
	border-radius: 6px;
	border: none;
}

.placeholder {
	position: absolute;
	left: 5px;
	top: 16px;
	pointer-events: none;
	transition: 0.5s;
	opacity: .5s;
}

.input:focus ~ .placeholder,
.mensagem:focus ~ .placeholder,
.input:valid ~ .placeholder,
.mensagem:valid ~ .placeholder {
	transform: translateY(-35px);
	font-size: 14px;
	opacity: 1;
}

.input:focus,
.mensagem:focus {
	outline: none;
	border-right: 3px solid var(--azul);
	border-bottom: 3px solid var(--azul);
}
