@import url(../variaveis.css);

.botao {
	width: 116px;
	height: 51px;
	padding: 1rem;
	font-size: 1em;
	font-weight: 400;
	border: 1px solid var(--azul);
	cursor: pointer;
	transition: background .3s ease;
}

.repositorio {
	color: var(--azul);
	justify-content: center;
}

.repositorio:hover {
	background: var(--azul-clarissimo);
}

.demo {
	background: var(--azul);
	color: var(--branco);
}

.demo:hover, .enviarMensagem:hover {
	background: var(--azul-claro);
}

.enviarMensagem {
	background: var(--azul);
	color: var(--branco);
	width: 165px;
	height: 51px;

}