@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Raleway:wght@400;500;700&display=swap');

:root {
	--azul: #2A7AE4;
	--azul-claro: #5595E9;
	--azul-clarissimo: #D4E4FA;
	--bg-azul: #EAF2FD;
	--bg-cinza: #EDEDED;
	--branco: #FFFFFF;
	--cinza: #4D4D4D;
	--letras: #464646;
	--peso-500: 500;
	--raleway: Raleway, sans-serif;
	--rosa-claro: #FFF4E0;
	--rosa-escuro: #B46060;
	--rosa-medio: #FFBF9B;
	--placeholder: #A2A2A2;
}